body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:533px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:31px;
  width:300px;
  height:170px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:211px;
  width:300px;
  height:25px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:246px;
  width:300px;
  height:25px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:316px;
  width:228px;
  height:25px;
}
#u62_input {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:316px;
  width:62px;
  height:25px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:386px;
  width:300px;
  height:25px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:456px;
  width:300px;
  height:25px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:281px;
  width:300px;
  height:25px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:421px;
  width:300px;
  height:25px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:351px;
  width:300px;
  height:25px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
